apiVersion: v1
kind: Secret
metadata:
  name: longhorn-dashboard-secret
  namespace: longhorn-system
  labels:
    app.kubernetes.io/name: longhorn
type: Opaque
data:
  users: {{ basic_auth | b64encode }}