# playbooks/05_copy_token.yml
- name: 游닌 Copiar token JWT desde master al controller
  hosts: controller
  become: true
  gather_facts: false

  vars:
    ansible_python_interpreter: /usr/bin/python3
    master_host: "{{ hostvars[groups['masters'][0]]['ansible_host'] }}"
    remote_token_path: "/tmp/traefik-token.jwt"
    local_token_path: "/home/monitoring/.kube/token.jwt"
    ssh_user: "root"
    ssh_password: "Gdh88K28"  # Contrase침a del nodo controller si hicieras ssh inverso

  tasks:

    - name: 游닍 Instalar sshpass para usar scp con contrase침a
      become: true
      package:
        name: sshpass
        state: present

    - name: 游늬 Crear carpeta destino
      file:
        path: "{{ local_token_path | dirname }}"
        state: directory
        owner: monitoring
        group: monitoring
        mode: '0755'

    - name: 游닌 Copiar token con sshpass y scp desde el master
      become: true
      raw: |
        sshpass -p '{{ ssh_password }}' scp -o StrictHostKeyChecking=no \
          {{ ssh_user }}@{{ master_host }}:{{ remote_token_path }} {{ local_token_path }}

    - name: 游댏 Ajustar permisos del token
      file:
        path: "{{ local_token_path }}"
        owner: monitoring
        group: monitoring
        mode: '0600'

    - name: 游 Verificar token copiado
      command: cat {{ local_token_path }}
      register: token_check
      changed_when: false

    - name: 游닍 Token copiado al controller
      debug:
        var: token_check.stdout
